.nav-logo img {
  width: 90px;
  height: 90px;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 0 20px;
}
nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding-bottom: 5px;
  border-radius: 4px;
  transform: all 0.3s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
nav ul li:hover {
  background-color: #fcb212;
  color: #fff;
  padding: 5px;
}

@media (min-width: 728px) {
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    padding: 10px;
  }
}
